---
import { ClientRouter, fade } from "astro:transitions";
import { SEO } from "@/components/utilities";
import "@/styles/frontend.css";

type Props = {
  title?: string;
  description?: string;
  keywords?: string[];
  ogTitle?: string;
  ogDescription?: string;
  ogImage?: string;
};

const { title, description, keywords, ogTitle, ogDescription, ogImage } =
  Astro.props as Props;
---

<!doctype html>
<html lang="en" class="smooth-scroll">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title ? `${title} - Elistack` : "Elistack"}
      description={description}
      keywords={keywords}
      ogTitle={ogTitle ? `${ogTitle} - Elistack` : "Elistack"}
      ogDescription={ogDescription}
      ogImage={ogImage}
    />
    <ClientRouter />
  </head>
  <body class="flex min-h-screen flex-col font-inter-variable antialiased">
    <main transition:animate={fade({ duration: "0.15s" })}>
      <slot />
    </main>
  </body>
</html>
